flake8
pycodestyle
pydocstyle
PyQt5
PyQt5-Qt5
PyQt5-sip
pytest
pytest-qt
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-toolbox
pytest-cov
build